<h1>{{title}}</h1>

<table>
    <tr *ngFor="let definition of definitions">
        <th>{{definition.displayName}}</th>
        <td>
            <app-field-view [definition]="definition"
                            [value]="item[definition.name]"></app-field-view>
        </td>
    </tr>
</table>


<div *ngFor="let ai of additionalInfos">
    <h2>{{(ai | async)?.name}}</h2>
    <table>
        <tr>
            <th *ngFor="let item of (ai | async)?.cols">{{item}}</th>
        </tr>
        <tr>
            <td *ngFor="let item of (ai | async)?.cols">irgenwas</td>
        </tr>
        <tr>
            <td *ngFor="let item of (ai | async)?.cols">irgenwas</td>
        </tr>
    </table>
</div>