<h1>{{displayName}}</h1>

<div style="display: flex;">

    <div style="margin: 20px; flex: 1">

        <nz-table #dataTable
                  [nzData]="entries">
            <thead>
                <tr>
                    <ng-container *ngIf="!detailItem">
                        <th *ngFor="let column of extDefinitions"
                            [nzSortOrder]="column.sortOrder"
                            [nzSortFn]="column.sortFn">
                            {{ column.name }}
                        </th>
                    </ng-container>
                    <th *ngIf="detailItem">
                        Item
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataTable.data"
                    (click)="showDetails(data)">
                    <ng-container *ngIf="!detailItem">
                        <td *ngFor="let definition of definitions">

                            <ng-container
                                          *ngIf="definition.type == 'string' || definition.type == 'number' || definition.type == 'select'">
                                {{data[definition.name]}}
                            </ng-container>

                            <ng-container *ngIf="definition.type == 'relation'">
                                <ng-container *ngIf="subEntitiesById[definition.name] && data[definition.name]">
                                    {{subEntitiesById[definition.name][data[definition.name]] }}
                                </ng-container>
                            </ng-container>

                        </td>
                    </ng-container>
                    <td *ngIf="detailItem"
                        [class.marked]="data == detailItem">
                        {{itemNamesId[data.id]}}
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <div style="margin: 20px; text-align: right;"
             *ngIf="!detailItem">
            <button type="button"
                    (click)="addNewItem()"
                    pButton
                    icon="pi pi-plus"
                    label="add"></button>
        </div>

    </div>

    <div style="margin: 20px; flex: 1"
         *ngIf="detailItem">

        <div style="margin: 20px; text-align: right;">
            <button type="button"
                    (click)="detailItem = null"
                    pButton
                    icon="pi pi-times"></button>
        </div>

        <app-item-info [item]="detailItem"
                       [tableName]="tableName"></app-item-info>


    </div>

</div>