<h1>{{displayName}}</h1>

<div style="display: flex;">

    <div style="margin: 20px; flex: 1">

        <ng-container *ngIf="!detailItem">
            <div style="margin: 5px; display: flex;">
                <div style="flex: 1; text-align: left;">
                    <button nz-button
                            (click)="resetFilters()">Clear filters</button>
                </div>
                <div style="flex: 1; text-align: right;">
                    <button nz-button
                            nzType="primary"
                            (click)="addNewItem()">
                        <i nz-icon
                           nzType="form"></i> add
                    </button>
                </div>
            </div>

            <nz-table #dataTable
                      [nzData]="entries">
                <thead>
                    <tr>
                        <th *ngFor="let column of extDefinitions"
                            [nzSortOrder]="column.sortOrder"
                            [nzSortFn]="column.sortFn"
                            [nzFilterMultiple]="true"
                            [nzFilters]="column.listOfFilter"
                            [nzFilterFn]="column.filterFn">
                            {{ column.name }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable.data"
                        (click)="showDetails(data)">
                        <td *ngFor="let definition of definitions">

                            <ng-container
                                          *ngIf="definition.type == 'string' || definition.type == 'number' || definition.type == 'select'">
                                {{data[definition.name]}}
                            </ng-container>

                            <ng-container *ngIf="definition.type == 'relation'">
                                <ng-container *ngIf="subEntitiesById[definition.name] && data[definition.name]">
                                    {{subEntitiesById[definition.name][data[definition.name]] }}
                                </ng-container>
                            </ng-container>

                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </ng-container>

        <ng-container *ngIf="detailItem">
            <nz-table #dataTable
                      [nzData]="entries">
                <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable.data"
                        (click)="showDetails(data)">
                        <td [class.marked]="data == detailItem">
                            {{itemNamesId[data.id]}}
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </ng-container>


    </div>

    <div style="margin: 20px; flex: 1"
         *ngIf="detailItem">

        <div style="margin: 20px; text-align: right;">
            <button nz-button
                    nzType="primary"
                    (click)="detailItem = null"><i nz-icon
                   nzType="close"></i></button>
        </div>

        <app-item-info [item]="detailItem"
                       [tableName]="tableName"></app-item-info>


    </div>

</div>