<div style="min-height: 70vh; overflow: auto;">

    <form [formGroup]="formGroup"
          *ngIf="formGroup">
        <table>
            <tr>
                <th colspan="4">{{tableName}} anlegen</th>
            </tr>
            <tr *ngFor="let definition of definitions">
                <th>{{definition.displayName}}</th>

                <td *ngIf="definition.type=='number'">
                    <input pInputText
                           [formControlName]="definition.name"
                           type="number"
                           style="width: 50px;" />
                </td>
                <td *ngIf="definition.type=='number'"></td>

                <td *ngIf="definition.type=='string'">
                    <input pInputText
                           [formControlName]="definition.name"
                           type="text"
                           style="width: 300px;" />
                </td>
                <td *ngIf="definition.type=='string'"></td>

                <td *ngIf="definition.type=='relation'">
                    <app-form-select-entity [definition]="definition"
                                            [formControlName]="definition.name"></app-form-select-entity>
                </td>
                <td *ngIf="definition.type=='relation'">
                    <span class="p-button-secondary"
                          style="cursor: pointer; font-style: italic;"
                          (click)="addSubItem(definition.name, definition.table)">neu anlegen...</span>
                </td>


                <td *ngIf="definition.type=='select'">
                    <app-form-select-simple [definition]="definition"
                                            [formControlName]="definition.name"></app-form-select-simple>
                </td>
                <td *ngIf="definition.type=='select'"></td>

            </tr>
            <tr>
                <td></td>
                <td style="text-align: right;">
                    <p-button label="Add"
                              (click)="add()"></p-button>
                </td>
            </tr>
        </table>
    </form>

</div>